html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
h1 { 
	color: white;
	font-family: 'Aclonica';
	font-size: 50px;
	margin-left: 25%;
	margin-right: 15%;
	margin-top: 15%;
	text-shadow: 2px 2px black;
}
h2 {
	color: white;
	font-family: 'Aclonica';
	font-size: 25px;
	margin-left: 25%;
	margin-right: 15%;
	margin-top: 0px;
	margin-bottom: 5px;
	text-shadow: 2px 2px black;
}
h3 {
	font-size: 35;
	text-shadow: 2px 2px black;
}
p {
	color: white;
	font-size: 18;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 0px;
	text-shadow: 2px 2px black;
	font: 15px Helvetica, Arial, sans-serif;
}
.footer {
	text-align: center;
	width: 100%;
	bottom: 0;
	position: absolute;
}
.container {
	min-height: 100%;
	margin-bottom: 0px;
}
ul {
	text-align: right;
	padding-right: 25px;
	padding-top: 5px;
	font-size: 20;
}
li {
	display: inline;
	padding: 5px;
}
a.bar {
	font-family: 'Aclonica';
	font-size: 18px;
	text-shadow: 2px 2px black;
}
a { 
	color: white;
	text-decoration: none;
}
a:hover {
	color: #4286f4;
}
body {
	background-image: url("https://mmholland.github.io/images/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}