html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	padding-bottom: 175px;
}
h1 { 
	color: white;
	font-family: 'Aclonica';
	font-size: 50px;
	margin-left: 25%;
	margin-right: 15%;
	margin-top: 5%;
	text-shadow: 2px 2px black;
}
h2 {
	color: white;
	font-family: 'Aclonica';
	font-size: 16px;
	margin-left: 2%;
	margin-top: 4%;
	margin-bottom: 0px;
	text-shadow: 2px 2px black;
}
h3 {
	font-size: 35;
	text-shadow: 2px 2px black;
}
p.description {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 4%;
}
p {
	color: white;
	font-size: 18;
	margin-top: 0px;
	text-shadow: 2px 2px black;
	font: 15px Helvetica, Arial, sans-serif;
}
.footer {
	text-align: center;
	width: 100%;
	bottom: 0;
	position: absolute;
}
.container {
	min-height: 100%;
	margin-bottom: 0px;
	position: relative;
}
ul {
	text-align: right;
	padding-right: 25px;
	padding-top: 5px;
	font-size: 20;
}
li {
	display: inline;
	padding: 5px;
}
a.bar {
	font-family: 'Aclonica';
	font-size: 22px;
	text-shadow: 2px 2px black;
}
a { 
	color: white;
	text-decoration: none;
}
a:hover {
	color: #4286f4;
}
body {
	height: 100%;
	background-image: url("https://mmholland.github.io/images/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
table {
	table-layout: fixed;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 10px;
}
td {
	vertical-align: top;
	word-wrap: break-word;
	width: 33%;
	background-color: #4286f4;
	box-shadow: 3px 3px black;
}
td:hover {
	background-color: black;
}
img {
	display: block;
	width: 100%;
	height: auto;
}
div.icon {
	text-align: center;
	font-size: 30;
	color: white;
	margin-bottom: 4%;
}
div.space {
	height: 100px;
}